<aside class="aside">
  <nav class="navigation">
    <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/master-js">Master JS</lib-button>
    <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/modern-js">Modern JS</lib-button>

    <div class="navigation__item dropdown">
      <button class="dropbtn">Library</button>
      <div class="dropdown-content">
        <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/library">Library</lib-button>
        <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/library/blocks">Blocks</lib-button>
        <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/library/card">Card</lib-button>
        <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/library/components">Components</lib-button>
        <lib-button buttonType="primary" buttonStyle="solid" buttonSize="medium" routerLink="/library/elements">Elements</lib-button>
      </div>
    </div>
  </nav>
</aside>
